.find-us {
	color: #000;
}

a:hover,
a:focus,
a:active {
    text-decoration: underline;
}

a:link,
a:visited {
	text-decoration: none; 
}

.contact-info {
	text-align: center; 
}

footer {
    border-top: 1px solid #000; 
    padding-top: 1em;
    padding-bottom: 1em;
}

footer p {
    padding: 5px; 
}